.gerenciar-reservas-main {
  margin: 0 auto;
  padding-top: 6rem;
}

.gerenciar-reservas-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
  width: 1069px;
  margin-left: auto;
  margin-right: auto;
}

.gerenciar-reservas-nome {
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  text-align: left;
  display: flex;
  align-items: center;
}

.gerenciar-reservas-cpf {
  margin-left: 2rem;
  color: #000000;
  font-weight: bold;
  font-size: 1.8rem;
}

.gerenciar-reservas-nova-reserva {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
